{% extends 'base.html.twig' %}

{% block title %}All News{% endblock %}

{% block body %}
    {% for newsItem in newsItems %}
        <h1>{{ newsItem.title }}</h1>
        <p>{{ newsItem.preview }}</p>
        <p><a href="{{ path('viewNewsItem', { 'urlName': newsItem.urlName }) }}">Подробнее...</a></p>
    {% endfor %}
{% endblock %}
