{% extends 'base.html.twig' %}

{% block title %}{{ newsItem.title }}{% endblock %}

{% block body %}
    <h1>{{ newsItem.title }}</h1>
    <p>{{ newsItem.content|raw }}</p>
    
    <p><a href="{{ path('newsList') }}">Back to news</a></p>
{% endblock %}
