{% extends 'base.html.twig' %}

{% block title %}{{ newsItem.title }}{% endblock %}

{% block body %}
    <h1>{{ newsItem.title }}</h1>
    <p>{{ newsItem.content|raw }}</p>
    
    <p><a class="button" href="{{ path('adminNewsList') }}">Back to Admin Page</a></p>
{% endblock %}
